<% layout("layouts/boilerplate") %>

<h1><%= campground.title %></h1>
<h2><%= campground.location %></h2>
<img src="<%= campground.image %> " />
<p><%= campground.description %></p>

<footer>
  <a href="/campgrounds/<%= campground._id %>/edit">Edit Campgound</a>
  <br />
  <br />
  <a href="/campgrounds">All campgrounds</a>
  <br />
  <br />
  <form
    action="/campgrounds/<%= campground._id %>?_method=DELETE"
    method="POST"
  >
    <button>delete</button>
  </form>
</footer>
